body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}
.row{
  margin:0;
}
.container{
  padding: 70px 0;
}
p,li{
  color: #444;
  font-size: 16px;
}

.navbar{
  background-color:#9ACD32;
}
#logo{
  width: 75px;
  border-radius: 50%;
}
.navbar-brand{
  padding: 0;
  color: white;
}